



/* le quito las margenes y el padding a la hoja*/
*{
    margin: 0;
    padding: 0;
}

/* declaro las etiquetas que voy a usar por defecto*/
h1{
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #4D4D4D;
}

h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #4D4D4D;
}

p{
    font-weight: 400;
    font-style: regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #717171;
}

span{
    color: #4CAF4F;
}

/* le quito las margenes y el padding a el body*/
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


header{
    padding: 2% 5%;
}

.contHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.contLinks{
    display: flex;
    list-style: none;
    gap: 60px;
    padding: 0% 5%;
}

.contLinks, a{
    text-decoration: none;
    font-family: 'inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: black;
}

.login{
    display: flex;
    gap: 10px;
}

.login button{
    width: 65px;
    height: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
}

.btnLeft button{
    color: #4CAF4F;
    background-color: #F5F7FA;
    border: none;
}

.btnRigth button{
    background-color: #4CAF4F;
    border: none;
   
}

.contHero{
    width: 80%;
    padding: 5% 15% 2% 10%;
    background-color: #F5F7FA;
}

/*main*/
.hero{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.heroText span{
    font-weight: 600;
    font-size: 64px;
    line-height: 76px;
    color: #4CAF4F;
}

.btnRegister {
    background-color: #4CAF4F;
    border: none;
    width: 128px;
    height: 52px;
    border-radius: 4px;
    padding: 14px 32px;
}

.imgHero img{
    width: 391px;
}

.dot{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/*section clients*/
.contClients{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
    gap: 30px;
}

.contClients h2{
    display: flex;
    justify-content: center;
}

.imgsClients {
    width: 100%;
    display:flex ;
    flex-direction:row;
   
    justify-content: space-evenly;
}

.imgsClients img{
    display: flex;
    
}

/* section community*/


.contCommunity{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}


.communityBottom{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 30px 100px;
}

.cards{
    width: 100%;
    background-color: #FFFFFF ;
    border-radius: 10px;
    box-shadow: 0 4px 8px#ABBED133
}

.cardIMg{
    display: flex;
    justify-content: center;
}

.textCommunity{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 8%;
}

.mobile{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 100px;
    margin-left: 5%;
    
}

.descriptionMobile{
    display: flex;
    width: 600px;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.mobileSpan span{
    background-color:#4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
}

.mobileSpan a{
    color:#FFFFFF;
}


.contBusiness{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 30px 200px;
    align-items: center;
    background-color: #F5F7FA;
}



.statistics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.desing{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 200px;
    
}

.contTextDesing{
    display: flex;
    flex-direction: column;
    padding-right: 20%;
    gap: 30px;
}

.contTextDesing span{
    background-color:#4CAF4F;
    padding: 14px 32px;
    border-radius: 4px;
    color: #FFFFFF;
}

.contTextDesing a{
    color: #FFFFFF;
}

.contDemo{
    display: flex;
    justify-content: center;
}

.demo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.spanDemo span {
    display: flex;
    justify-content: center;
}

.spanDemo a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4CAF4F;
    width: 178px;
    height: 52px;
    gap: 15px;
    border-radius: 4px;
}

/* footer */

.contFooter{
    background-color: #263238;
    height: 328px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.contFooter h4{
    color: #FFFFFF;
    font-weight: 900;
}

.contFooter p{
    color: #FFFFFF;

}

.footer-grid{
    display: grid;
    width: 1228px;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footer-left{
    display: flex;
    flex-direction: column;
    margin-right: 30%;
    gap: 30px;
}

.footer-left img{
    width: 200px;
}

.footer-center{
    display: flex;
    flex-direction: column;
    gap: 10px;
}



@media(max-width: 1024px){
    main{
        padding: 0;
        margin: 0;
    }

    .contBusiness{
        width: 100vh;
    }

}


@media(max-width: 768px){
    body{
        padding: 0;
        margin: 0;
    }

    main{
        width: 100%;
    }

    .footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
}
